

nav {
    background-color: #807f7f;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    
  }
  
  .logo {
    height: 80px;
    margin-left: 10px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }

  .search-form input[type="text"] {
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 100px
  }
  
  .search-form button {
    padding: 15px 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-right: 100px;
    
  }

  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
  }
  
  .menu ul {
    text-align: right;
  } 

  .menu li {
    display: inline-block;
    margin-right: 50px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .menu li a:hover {
    text-decoration: underline;
  }


  footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px; /* Agrega un margen superior para separar el footer del contenido */
    

  }

  /* Estilos para las etiquetas <a> */
  a {
    color: rgb(255, 255, 255); /* Cambia el color del texto del enlace */
    text-decoration: none; /* Elimina la decoración de subrayado */
  }

  a:hover {
    color: rgb(255, 255, 255); /* Cambia el color del texto del enlace al pasar el cursor sobre él */
    text-decoration: underline; /* Agrega un subrayado al pasar el cursor sobre el enlace */
  }

  @media (max-width: 768px) {
    /* Estilos aplicados en pantallas con un ancho máximo de 768px */
    /* Ajusta los estilos para que se adapten a pantallas más pequeñas */
    body {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media (max-width: 480px) {
    /* Estilos aplicados en pantallas con un ancho máximo de 480px */
    /* Ajusta los estilos para dispositivos móviles */
    h1 {
      font-size: 24px; /* Reduce el tamaño del título en pantallas más pequeñas */
    }
    h2 {
      font-size: 20px; /* Reduce el tamaño del título en pantallas más pequeñas */
    }
    h3 {
      font-size: 18px; /* Reduce el tamaño del título en pantallas más pequeñas */
    }
  }
